
* {
    box-sizing: border-box;
}
/* Header and paragraph size and font settings */
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
p {
    font-family: 'Abel', sans-serif;
}
/* colors */
:root {
    --mm-red: rgb(214,95,69);
    --mm-orange: rgb(222,160,61);
    --mm-green: rgb(136,174,116);
    --mm-blue: rgb(75,168,169);
    --mm-grey1: rgb(240,240,240);
    --mm-grey2: rgb(230,230,230);
}
/* Global classes */
.heading-img {
    margin: 0 auto;
    text-align: center;
}
.btn-circle {
  width: 245px;
  height: 245px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 122.5px;
  border: 15px solid white;
  color: white;
}

/* Very Small */
@media screen and (max-width: 320px) {
  /* test code */
  /* body {background-color: var(--mm-red)} */
  /* end test code */
  .nav-menu-xs {
    /* this element is only to be displayed on the small screen */
    font-size: 14px !important;
  }
}

/* Small */
@media screen and (min-width: 321px) and (max-width: 425px){
  /* test code */
  body {background-color: var(--mm-orange)}
}

/* Medium */
@media screen and (min-width: 426px) and (max-width: 768px){
  /* test code */
  body {background-color: var(--mm-blue)}
}

/* Large */
@media screen and (min-width: 769px) {
  /* test code */
  body {background-color: var(--mm-grey2)}
}

.col-xl {
    text-align: center;
    margin: 0 auto;
}
