
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: Abel, sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}
/* colors */
:root {
    --mm-red: rgb(214,95,69);
    --mm-orange: rgb(222,160,61);
    --mm-green: rgb(136,174,116);
    --mm-blue: rgb(75,168,169);
    --mm-grey1: rgb(240,240,240);
    --mm-grey2: rgb(230,230,230);
}

.heading-img {
    margin: 0 auto;
    text-align: center;
}


/* Very Small */
@media screen and (max-width : 320px) {

}

/* Small */
@media screen and (max-width: 425px){

}

/* Medium */
@media screen and (max-width: 768px){

}

/* Large */
@media screen and (min-width : 1224px) {

}
