
* {
    box-sizing: border-box;
}
/* colors */
:root {
    --mm-red: rgb(214,95,69);
    --mm-orange: rgb(222,160,61);
    --mm-green: rgb(136,174,116);
    --mm-blue: rgb(75,168,169);
    --mm-grey1: rgb(240,240,240);
    --mm-grey2: rgb(230,230,230);
}
/* Global classes */
/* Header and paragraph size and font settings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}
h6 {
  font-size: 12px;
}
p {
    font-family: 'Abel', sans-serif;
}
/* Background */
body {
  background-color: var(--mm-grey2);
}
.heading-img {
    margin: 0 auto;
    text-align: center;
}
/* circular buttons */
.btn-circle-const-tiny {
  width: 18px;
  height: 18px;
  padding: 0;
  line-height: 1.33;
  border-radius: 9px;
  color: black;
}
.col-xl {
    text-align: center;
    margin: 0 auto;
}
.nav-list-item.li {
    display: inline;
    margin: 0 auto;
}
.nav-link {
    padding: 0 .5em;
    color: black;
}
.company-name {
    font-size: 2em;
}

.row1 {
    text-align: center;
    margin: .5em 0;
}

span {
    width: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.btn-circle {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 75px;
  border: .5em solid white;
  color: white;
  margin: 5px 5px 10px 10px;
}

.hide-if-not-xs {
  display: none;
}
.hide-if-not-sm {
  display: none;
}
.hide-if-not-md {
  display: none;
}
.hide-if-not-lg {
  display: none;
}
