/* Large */
@media screen and (min-width: 992px) {
  /* hidden elements */
  .nav-menu-xs {display: none;}
  /* visible elements */
  .nav-menu-lg {

  }
  .hide-if-lg {
    display: none;
  }
  .hide-if-not-lg {
    display: contents;
  }

  .heading-img {
    margin: .5em;
  }

  .company-name {
    margin-top: 26px;
  }

  .nav-link {
    margin-top: 40px;
  }
}
